.search-panel {
    margin-top: 30px;
    padding: 25px;
    background-color: rgb(139, 163, 210);
    border-radius: 10px;
    border:2px solid white;
    box-shadow: 15px 15px 30px rgba(0,0,0, .15);
    color: #fff;
}